<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Subscription to the waiting list{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
                <p>{{name}},<br>
                    Vous êtes bien inscrit sur la liste d'attente du restaurant {{ restaurantName }}.<br>
                    Votre numéro de ticket est le : {{ ticketId }}<br>
                    Votre temps d'attente estimé est de : {{ estimatedWaitingTime }}<br>
                    Votre horaire de passage estimé est : {{ estimatedEntryTime|date("h:i") }}<br>
                    Bon appétit !

                    Si vous souhaitez annuler votre inscription, merci de cliquer ce <a href="{{ customerCancellation }}">lien</a>.
                </p>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
