{% extends 'base.html.twig' %}

{% block title %}ListEat Dashboard{% endblock %}

{% block body %}



    </div>

         
        <div class="content">
     
            <div id="map" class="container__map">
                <!-- Ici s'affichera la carte -->
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card container_componement">
                    <i class="fas fa-users fa-5x"></i>
                    <h4 class="card-title">User</h4>
                        <div class="card-header">
                            <p id="user" class="chiffre">{{userNb}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card container_componement">
                    <i class="fas fa-address-book fa-5x"></i>
                    <h4 class="card-title">Customer</h4>
                        <div class="card-header">
                            <p id="customer" class="chiffre">{{customer}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                   
                    <div class="card container_componement">
                    <i class="fas fa-clock fa-5x"></i>
                    <h4 class="card-title">Waiting</h4>
                        <div class="card-header">
                            <p id="waiting" class="chiffre">{{waiting}} min</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card container_componement">
                    <i class="fas fa-ban fa-5x"></i>
                    <h4 class="card-title">ticket Cancelled</h4>
                        <div class="card-header">
                        <p id="cancelled" class="chiffre">{{ticketsCancelled}}</p>
                            
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card container_componement">
                    <i class="fas fa-ticket-alt fa-5x"></i>
                     <h4 class="card-title">tickets</h4>
                        <div class="card-header">
                        <p id="ticketNb" class="chiffre">{{ticketNb}}</p>
                           
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card container_componement">
                    <i class="fas fa-utensils fa-5x"></i>
                    <h4 class="card-title">Cover</h4>
                        <div class="card-header">
                            <p id="coversNb" class="chiffre">{{coversNb}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row container__test">
                    <div class="col-md-6">
                        <p id="user" class=""><i id="login" class="fas fa-bolt fa-1x amber-text pr-3"></i>Service login</p>
                        <p id="user" class=""><i id="ticket_add" class="fas fa-bolt fa-1x amber-text pr-3"></i>Service ticket add</p>
                        <p id="user" class=""><i id="ticket_edit" class="fas fa-bolt fa-1x amber-text pr-3"></i>Service ticket édit</p>
                        <p id="user" class=""><i id="restaurant_show" class="fas fa-bolt fa-1x amber-text pr-3"></i>Service restaurant show</p>
                    </div>
                    <div class="col-md-6">
                        <p id="user" class=""><i id="restaurant_edit" class="fas fa-bolt fa-1x amber-text pr-3" aria-hidden="true"></i>Service restaurant edit</p>
                        <p id="user" class=""><i id="is_logged" class="fas fa-bolt fa-1x amber-text pr-3"></i>Service is logged</i></p>
                        <p id="user" class=""><i id="logout" class="fas fa-bolt fa-1x amber-text pr-3"></i>Service logout</p>
                        <button id="bouton_service" type="button" class="btn btn-outline-default btn-rounded waves-effect">Lancer la vérification</button>
                    </div>    
                </div>


            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnC8-HtRMV3wBgYeSogDMYWtD-zYRTuRU" type="text/javascript"></script>
	
    {% block javascripts %}{% endblock %}
		     
            {% endblock %}
